{% extends "radisna/layout.html" %}
{% load static %}
{% block body %}
<main>
    <div class="container" style="max-width: 800px;">
        <h2>Гуманітарна допомога</h2>


<a  href="{% url 'login' %}"><button type="button" class="btn btn-primary">Вже реєструвалися, авторізуйтесь</button></a>
        <p>Це сторінка реєстраціі на отримання допомоги від "World Central Kitchen" тут можуть зареєструватися громодяни
            прописані по вулиці {%for street in streets%} {%if forloop.last%}{{street.street}}{%else%}{{street.street}},{%endif%}{%endfor%}. Зареєструватися можна лише
            пенсіонерам за віком, інвалідам 1-2 групи чи багатодітним особам. Допомога надєтся тільки за пропискою.
            Вона не надаєтсся переселеним особам, а також, як що хтось прописаний разом з вами вже отримує допомогу
            від "World Central Kitchen".
        Як що ви впевнені що ви відповідаєте цим вимогам, а таккож даєте згоду на обробку персональних данних. Тисніть
        кнопку "Зареєструватися"</p>
        <form action="{% url 'index' %}" method="post" >
            {% csrf_token %}
        <input type="hidden" name="I_gree" value="I gree">

        <input class="btn btn-primary" type="submit" value="зареєструватися">
        </form>

<!--        <form action="{% url 'index' %}" method="post" >-->
<!--        {% csrf_token %}-->
<!--        {% for field in form  %}-->

<!--            {%if field.name == "email" or  field.name == "invalid" or  field.name == "many_children" %}-->
<!--           {{field.label_tag}}-->
<!--            {%else%}-->
<!--            {{field.label_tag}}<span style="color:red;">*</span>-->
<!--            {%endif%}-->
<!--            <div class="form-group">{{field}}</div>-->


<!--           {% endfor %}-->


<!--        <input class="btn btn-primary" type="submit" value="зареєструватися">-->
<!--        </form>-->
    </div>
</main>
{% endblock %}