{% load static %}

<!DOCTYPE html>

<html lang="uk">
    <head>
        <title>{% block title %}Гуманітарка{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'radisna/css/styles.css' %}" rel="stylesheet">
<!--        <link rel="stylesheet" type="text/css" href="css/normalize.css" />-->

        <link rel="icon" type="image/png" href="{% static 'radisna/css/image/bread.ico' %}">
    </head>
    <header>

        <h2 style="text-stroke: 4px navy;">Гуманітарна допомога</h2>
        {% if user.is_authenticated %}
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'index' %}" role="button" aria-expanded="false">Вийти с профілю</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Hі я не хочу виходити с профілю</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}" >Так я бажаю вийти</a></li>
            </ul>
          </li>
            </ul>
            {%endif%}



    </header>



        {% block body %}
        {% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


</html>

