{% extends "radisna/layout.html" %}
{% load static %}
{% block body %}
<main>
    <div class="container" style="max-width: 800px;">
        <h2>Шпалера</h2> <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
         {%if not users %}
            <h5>Ще ніхто не заявив про допомогу</h5>
        {%else%}
        <ol style="text-align: left">
            {% for user in users%}
            <li style="background-color: rgba(192,192,192,0.3); margin: 20px 0px 20px 0px">{{user.last_name}} {{user.first_name}}
                {{user.patronymic}}
                <div class="tab">
                    <nobr>{{user.date_birth|date:"d-m-Y"}}</nobr>
                </div>
                <div class="tab">(ІПН){{user.username}}</div>
                <div class="tab">
                    <nobr>{{user.street}}{{user.home}}{%if user.home_index%}{{user.home_index}}{%endif%}
                        {%if user.apartment != 0 %}кв.{{user.apartment}}{%endif%}{%if user.apartment_index%}{{user.apartment_index}}{%endif%}</nobr>
                </div>
                {%if user.pension%}
                <div class="tab"><nobr>пенс№{{user.pension}}</nobr></div>
                {%endif%}
                {%if user.invalid%}
                <div class="tab"><nobr>Инвалид№{{user.invalid}}</nobr></div>
                {%endif%}
                {%if user.many_children%}
                <div class="tab"><nobr>БагатоД.№{{user.many_children}}</nobr></div>
                {%endif%}
                <div class="tab">тел:+38{{user.phone}}</div>
<!--                {{user.helps.last.Check}}-->
                <form action="{% url 'check' %}" method="post" >
                    {% csrf_token %}
                <input type="hidden" name="check" value="{{user.helps.last.id}}">

                <input class="btn btn-primary" type="submit" value="отримав">
                </form>
            </li>

            {%endfor%}
        </ol>
 {%endif%}


            </div>
</main>
{% endblock %}