{% extends "radisna/layout.html" %}
{% load static %}
{% block body %}
<main>
    <div class="container" style="max-width: 800px;">
        <h2>Login</h2>

        {% if message %}

            <div>{{ message }}</div>

        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="password" name="username" placeholder="РНОКПП">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Телефон">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
<br>
    Не маєте акаунту? <a href="{% url 'index' %}">Реєстрація тут.</a>
    </div>

</main>
{% endblock %}