{% extends "radisna/layout.html" %}
{% load static %}
{% block body %}
<main>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    <div class="container" style="max-width: 800px;">
<!--        <h2>Greate a lot</h2>-->
        <form action="{% url 'register' %}" method="post" >
        {% csrf_token %}
        {% for field in form  %}

            {%if field.name == "email" or  field.name == "invalid" or  field.name == "many_children" %}
           {{field.label_tag}}
            {%else%}
            {{field.label_tag}}<span style="color:red;">*</span>
            {%endif%}
            <div class="form-group">{{field}}</div>


           {% endfor %}


        <input class="btn btn-primary" type="submit" value="зареєструватися">
        </form>
    </div>
</main>
{% endblock %}